@model HiveProject.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}



<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-primary", @role = "button" })
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-primary", @role = "button" })
            }
        </dd>
        <dd>

            @Html.ActionLink("Change your Username", "ChangeUsername", null, new { @class = "btn btn-primary", @role = "button" })

        </dd>
    </dl>
    <a href='@Url.Action("Index", "MainMenu")'>
        <img src="~/Content/Images/icons8-return-48.png" />
    </a>
</div>
