@using PagedList;
@using PagedList.Mvc;
@model IPagedList<HiveProject.Viewmodels.UsersViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users with no privileges</h2>


    
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
                Avatar
            </th>
            <th>
                Age
            </th>
            <th>
                Gender
            </th>

            <th>
                Bio
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    <img height="50" src="~/Content/Images/@Url.Content(item.Thumbnail)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Bio)
                </td>
                <td>
                    @Html.ActionLink("Upgrade", "Upgrade", new { id = item.Id }) |
                    @Html.ActionLink("Messages", "ShowUserMessages", new { id = item.Id }) |
                    @Html.ActionLink("Disable", "DisableUser", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
<div >
    <ul class="pagination">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</ul> 
</div>
