@using PagedList;
@using PagedList.Mvc;
@model IPagedList<HiveProject.Viewmodels.UsersViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users </h2>

<br />
    
    <table class="table">
        <tr>
            <th>
                Username
            </th>
            <th>
                Avatar
            </th>
            <th>
                Age
            </th>
            <th>
                Gender
            </th>

            <th>
                Description
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    <img height="50" src="~/Content/Images/@Url.Content(item.Thumbnail)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Bio)
                </td>
                <td>
                    @Html.ActionLink("Upgrade", "Upgrade", new { id = item.Id }, new { @class = "btn btn-success", @role = "button", @onclick = "return confirm('Are you sure?');" }) 
                    @Html.ActionLink("Messages", "ShowUserMessages", new { id = item.Id }, new { @class = "btn btn-info", @role = "button" }) 
                    @Html.ActionLink("Disable", "DisableUser", new { id = item.Id }, new { @class = "btn btn-danger", @role = "button", @onclick = "return confirm('Are you sure?');" } )
                </td>
            </tr>
        }

    </table>
<div >
    <ul class="pagination">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</ul> 
</div>
