@model HiveProject.Viewmodels.UsersViewModel

@{
    ViewBag.Title = "ChatProfiles";
    Layout = "/Views/Shared/_Layout.cshtml";
}



<head>
    <link rel="stylesheet" href="~/Content/UserView.css" />
</head>




<div class="container user-menu-container square" style="background:#F5F0DF">

    <div class="col no-pad">
        <div class="col-md-9 user-details">
            <div class="row coralbg white" style="height:320px">
                <div class="col-md-6 no-pad" style="color:ActiveBorder; background: #FA396f">
                    <h2></h2>
                    <h4 style="margin-left:4px">
                        <i>@Html.DisplayFor(model => model.Receiver.UserName)</i>
                    </h4>
                    <h3 style="margin-left:4px">@Html.DisplayFor(model => model.Receiver.UserGender), @Html.DisplayFor(model => model.Receiver.Age) </h3>
                    @*<h4 style="margin-left:4px">@Html.DisplayFor(model => model.Receiver.Bio)</h4>*@
                </div>

                <div class="col-md-6 no-pad">

                    <img height="320" src="~/Content/Images/@Url.Content(Model.Receiver.Thumbnail)" class="img-responsive thumbnail">

                </div>
            </div>
        </div>


               





@section scripts {

    <script>

        $(document).ready(function () {
            var $btnSets = $('#responsive'),
                $btnLinks = $btnSets.find('a');

            $btnLinks.click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("div.user-menu>div.user-menu-content").removeClass("active");
                $("div.user-menu>div.user-menu-content").eq(index).addClass("active");
            });
        });

        $(document).ready(function () {
            $('#goToInbox').on('click', function () {
                let url = '@Url.Action("ChatAction", "Chat")';
                window.location.href = url;
            });
        });

        $(document).ready(function () {
            $('#preference').on('click', function () {
                let url = '@Url.Action("Preferences", "MainMenu")';
                window.location.href = url;
            });
        });

        $(document).ready(function () {
            $("[rel='tooltip']").tooltip();

            $('.view').hover(
                function () {
                    $(this).find('.caption').slideDown(250); //.fadeIn(250)
                },
                function () {
                    $(this).find('.caption').slideUp(250); //.fadeOut(205)
                }
            );
        });
    </script>
}

