@model IEnumerable<HiveProject.Models.Location>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @Styles.Render("~/Scripts/leaflet/leaflet.css")
    @Styles.Render("~/Content/main-page.css")
    @Scripts.Render("~/Scripts/leaflet/leaflet.js")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div>
        @Html.ActionLink("Change Preferences","Preferences","MainMenu")
    </div>

    <section class="container">
        <div id="mapid"></div>
        <div id="clickedUser"></div>
    </section>



    <script>

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (location) {
                    var latlng = new L.LatLng(location.coords.latitude, location.coords.longitude);

                    var mymap = L.map('mapid').setView(latlng, 13);

                    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoidGhpc2Vhc20iLCJhIjoiY2p0ZDNrZDUwMHZ0ejQzcWlxb3BrdDV3cCJ9.2drjw4y3oUVkXhb3qNoFAg', {
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox.streets'
                    }).addTo(mymap);

                    var marker = L.marker(latlng)
                        .bindPopup('This is your current location.')
                        .addTo(mymap);
                    var url ="Map/SaveLocation";
                  
                    debugger;
                    $.post(url, { lat: location.coords.latitude, lng: location.coords.longitude })
                        .done(function (nearbyLocations) {
                            var markers = {};
                            nearbyLocations.forEach(function (element) {
                                markers[element.Id] = new L.marker([element.Latitude, element.Longitude], { userId: element.id })
                                    .addTo(mymap);
                                markers[element.Id].on('click', function (e) {
                                    let url = window.location.protocol + "//" + window.location.host + "/Map/ClickedUser";
                                    let id = element.Id;
                                    $.post(url, { UserId: id })
                                        .done(function (data) {
                                            $('#clickedUser').html(data);

                                            $("#like").on("click", function () {
                                                $.ajax({
                                                    method: "POST",
                                                    async: true,
                                                    url: "/MainMenu/AddLike/" + element.Id,
                                                    success: function (data) {
                                                        $('.btn-group').html(data);
                                                        mymap.removeLayer(markers[element.Id]);
                                                    }
                                                });
                                            });

                                            $("#dislike").on("click", function () {
                                                $.ajax({
                                                    method: "POST",
                                                    async: true,
                                                    url: "/MainMenu/AddDislike/" + element.Id,
                                                    success: function (data) {
                                                        $('.btn-group').html(data);
                                                        mymap.removeLayer(markers[element.Id]);
                                                    }
                                                });
                                            });
                                        });

                                    
                                });
                            });

                        });

                },
                    showError,
                    { timeout: 10000 });


            } else {
                return undefined;
            }


            function showError(error) {
                switch (error.code) {
                    case error.PERMISSION_DENIED:
                        alert("User denied the request for Geolocation.");
                    case error.POSITION_UNAVAILABLE:
                        alert("Location information is unavailable.");
                    case error.TIMEOUT:
                        alert("The request to get user location timed out.");
                    case error.UNKNOWN_ERROR:
                        alert("An unknown error occurred.");
                }
            }
        }
        $(document).ready(getLocation());



    </script>

</body>





