@model HiveProject.Viewmodels.ProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/UserView.css" />
</head>

<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">


<div class="container">
    <div class="row user-menu-container square">
        <div class="col-md-7 user-details">
            <div class="row coralbg white">
                <div class="col-md-6 no-pad">
                    <div class="user-pad">
                        <h2></h2>
                        <h4 class="white"><i class="fa fa-check-circle-o"></i> .
                        </h4>
                        <h4 class="white"><i class="fa fa-twitter"></i> CoolesOCool</h4>
                        <button type="button" class="btn btn-labeled btn-info" href="#">
                            <span class="btn-label"><i class="fa fa-pencil"></i></span>Update
                        </button>
                    </div>
                </div>
                <div class="col-md-6 no-pad">

                    <img src="~/Content/Images/@Url.Content(Model.Thumbnail)" class="img-responsive thumbnail">

                </div>
            </div>
            <div class="row overview">
                <div class="col-md-4 user-pad text-center">

                </div>
                <div class="col-md-4 user-pad text-center">


                </div>
                <div class="col-md-4 user-pad text-center">


                </div>
            </div>
        </div>


        <div class="col-md-1 user-menu-btns">
            <div class="btn-group-vertical square" id="responsive">
                <a href="#" class="btn btn-block btn-default active">
                    <i class="fa fa-bell-o fa-3x"></i>
                </a>
                <a href="#" class="btn btn-default">
                    <i class="fa fa-envelope-o fa-3x"></i>
                </a>

                <a href="#" class="btn btn-default">
                    <i class="fa fa-cloud-upload fa-3x"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4 user-menu user-pad">
            <div class="user-menu-content active">

                @using (Html.BeginForm("EditProfilePic", "MainMenu", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4><strong> Edit your Profile Picture</strong></h4>
                        <br />
                        @Html.LabelFor(model => model.Thumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
                        <br />
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">

                            <div class="col-md-10">
                                <br />
                                <img height="200" src="~/Content/Images/@Url.Content(Model.Thumbnail)" />
                                <br />
                                <br />
                            </div>
                            <br />


                        </div>
                        <br />
                        <div class="form-group">

                            <input type="file" name="Avatar" />
                            @Html.ValidationMessageFor(model => model.Thumbnail, "", new { @class = "text-danger" })
                            <div class="col-md-offset-2 col-md-10">

                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                            @if (TempData["Error"] != null)
                            {
                                <font color="red">
                                    @TempData["Error"]
                                </font>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="user-menu-content">
                <h3>
                    About me
                </h3>

                <br />
                <br />

                <button type="button" class="btn btn-labeled btn-danger" href="#">
                    <span class="btn-label"><i class="fa fa-envelope-o"></i></span>Edit About Me
                </button>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Bio</span>
                    </div>

                    <textarea class="form-control"  ></textarea>
                </div>



            </div>



            <div class="user-menu-content">
                <h3>
                    Your Inbox
                </h3>
                <ul class="user-menu-list">


                    <li>
                        <button type="button" class="btn btn-labeled btn-danger" href="#">
                            <span class="btn-label"><i class="fa fa-envelope-o"></i></span>View All Messages
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("EditBio", "MainMenu", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ProfileViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)



        <div class="form-group">
            @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Bio, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-2">
                @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            @if (TempData["BioError"] != null)
            {
                <font color="red">
                    @TempData["BioError"]
                </font>
            }
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>




@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Chat.js"></script>


    <script>

        $(document).ready(function () {
            var $btnSets = $('#responsive'),
                $btnLinks = $btnSets.find('a');

            $btnLinks.click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("div.user-menu>div.user-menu-content").removeClass("active");
                $("div.user-menu>div.user-menu-content").eq(index).addClass("active");
            });
        });

        $(document).ready(function () {
            $("[rel='tooltip']").tooltip();

            $('.view').hover(
                function () {
                    $(this).find('.caption').slideDown(250); //.fadeIn(250)
                },
                function () {
                    $(this).find('.caption').slideUp(250); //.fadeOut(205)
                }
            );
        });
    </script>
}

